/* HEADER -start- */

* {
    background-color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    font-weight: bold; 
    font-size: 14px;
    color: black;
    text-decoration: none;
}

header {
    position: relative;
    top: 8px;
}

div{
    margin: 4px;
    /* why does body does not work properly ? */
    /* background-color: lightblue; */ 
}

a{  
    transition: all 0.3s ease 0s;
}

a:hover{
    color: lightskyblue;
}


.footer-container{
    border: 1px solid black;
    padding: 4px;
    padding-top: 0;
    padding-bottom: 0;
}
.header-wrapper{
    background-color: lightblue;
    border: 1px solid black;
    padding: 4px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
    padding: 10px;
}

    .title-name{
        font-size: 24px;
        margin-left: 10px;
    }

    .title-logo{
        border-radius:50%;
        width: 60px;
    }


.flex-navbar{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    padding: 4px;
}

    .flex-navbar a{
    font-size: 13px;
    }   

.flex-navbar-item{
    border: 1px solid black;
    padding: 4px;
    text-align: center;
}



.flex-contact{
    /* border: 5px solid black; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    margin-left: 2px;
    margin-right: 2px;
    /* height: fit-content; */
}

.flex-contact-item{
    /* border: 3px solid black; */
    /* padding: 10px; */
    margin: 24px;
    /* height: fit-content; */
}

.left{
    /* border: 1px black solid; */
    /* background-color: lightblue; */
    /* height: auto; */
    /* height: fit-content; */
    /* text-align: center; */
    flex-basis: 0;
    flex-grow: 2;
    padding: 10px;
    /* background-color:lightgrey; */
}  
    .left p {
        border-radius: 25px;
        padding: 4px;
        /* padding-right: 10px; */
        width: fit-content;
    }

    .left a{
        display: block;
        padding:4px;
        margin: 4px;
        font-weight: bolder;
    }

    .contact-caption{
        font-weight:800;
        /* font-size: 15px; */
        border: 6px solid lightblue;
        outline: 1px solid black;
        padding: 10px;
        /* text-align: center; */
    }


.right{
    /* border: 1px solid black; */
    /* Used for centering the photos */
    /* background-color: lightgrey; */
    /* display: flex;
    flex-direction: column;
    align-items: center;  */
    flex-basis: 0;
    flex-grow: 3;
}   


    .right-caption{
        margin-left: 14px;
        margin-right: 14px;
        max-width: 200px;
        border: 1px black solid;
        border-radius: 20px;
        background-color: lightblue;
        margin-top: 14px;
        margin-bottom: 14px;
    }

    .right-caption p{
        padding: 6px;
        background-color: whitesmoke;
        font-size: 160%;
        margin: 10px;
        border: 1px black solid;
        border-radius: 20px;
        text-align: center;
    }

    .right-input{
        margin-left: 14px;
        margin-bottom: 12px;
        max-width: 300px;
        border: 1px black solid;
        background-color: lightblue;
    }

        .right-input-textarea{
            margin-left: 9px;    
        }
        
            #contact-field-textarea{
                outline: 1px solid black;
                border: 6px solid lightblue;
                min-width: 90%; 
            }

.wrapper-content{
    max-width: 1200px;
    margin: auto;
}

.contact-field{
    min-width: 264px;
    padding: 10px;
    margin: 6px;
}
   
    #submit-button{
        transition: all 0.3s ease 0s;
        cursor: pointer;
        margin-left: 14px;
        margin-bottom: 14px;
    }
        #submit-button:hover{
            color: lightskyblue;
        }



.red::placeholder{
    color:red;
    }